.contents
  .left-contents
    = render 'shared/side_bar'

  .main-contents
    .main-contents__header
      .main-contents__header__block
        %p.main-contents__header__block__group-name{"data-group_id": @group.id}
          = @group.name
        %ul.main-contents__header__block__member
          Member:
          %li.main-contents__header__block__member-name
            - @group.users.each do |user|
              %p
                = user.name
      %a
        .main-contents__header__block__edit-group
          = link_to edit_group_path(@group.id) do
            Edit
    .main
      .main-block
        %ul.main-block__user-name
          iwana
          %li.main-block__user-name__time
            2016/09/21 06:16:55
        .main-block__comments
          Hello world!

      .main-block
        %ul.main-block__user-name
          neko
          %li.main-block__user-name__time
            2016/09/22 06:16:55
        .main-block__comments
          Good by world!

      = render partial: 'message', collection: @messages
    .footer
      = form_for [@group, @message],html:{ class:"new_message" } do |f|
        .footer__framwork
          .footer__framwork__input-box
            = f.text_field :content,class: 'footer__framwork__input-box__form-message', placeholder: 'type a message'
            = f.label :image, class: 'footer__framwork__input-box__image-label--my-black' do
              = fa_icon 'image'
              = f.file_field :image, class:'footer__framwork__input-box__image-label__input'
          = f.submit value: 'Send', class: 'footer__framwork__form-submit'
